# Code Owners
# Defines individuals or teams that are responsible for code in a repository.
# More info about CODEOWNERS file - https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these users will be requested
# for review when someone opens a pull request.
* @leahmcguire @tovbinm @wsuchy @mrunfeldt @crupley @nicodv @WintersLu @michaelweilsalesforce
