classes/
build/
target/
/out/
**/out/
**/tmp/

logs/

.idea_modules/
.idea/*
*.ipr
*.iws
*.iml
*.swp

*.DS_Store
.gradle
gradlew.bat

*.pem
*.der

.env
.gradletasknamecache

derby.log
metastore_db/
*.bak
