version: 2
jobs:
  build:
    machine: true
    working_directory: ~/repo
    environment:
      GRADLE_OPTS: -Xmx256m -Dorg.gradle.daemon=true -Dorg.gradle.caching=true
      TERM: dumb
    
    steps:
      - run:
          name: Install dependencies
          command: npm install -g junit-merge || true
      
      - checkout
      - restore_cache:
          keys:
            - gcache-{{ .Branch }}-{{ checksum ".circleci/config.yml" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}

      - run:
          name: Java version
          command: java -version
      - run:
          name: Build Core
          command: ./gradlew core:reportScoverage
      - run:
          name: Build everything else
          command: ./gradlew utils:reportScoverage features:reportScoverage readers:reportScoverage testkit:reportScoverage cli:reportScoverage -x core:reportScoverage

      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/junit/ \;
            junit-merge -d ~/junit/ -o ~/merged.xml || true
          when: always
      - store_test_results:
          path: ~/merged.xml
      - store_artifacts:
          path: ~/merged.xml

      - save_cache:
          key: gcache-{{ .Branch }}-{{ checksum ".circleci/config.yml" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
          paths:
            - ~/.gradle
            - ~/.m2

      - run:
          name: Report scoverage resuts to Codecov
          command: bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  build:
    jobs:
      - build
